section.mid>div.menu_border{
    border: 1px solid #050357;
    background: linear-gradient(180deg, rgba(233, 233, 233, 0.00) 0%, rgba(3, 0, 172, 0.25) 100%);
    grid-column: 1/11;
    grid-row:1/9;
    position: relative;
    overflow: visible;

}

section.mid>div.menu_border>button.add_bot_button{
    /* position: absolute;
    top: 90%; */

    margin-inline-start: 13%;
    margin-block-start: 9%;
    height: 23%;
    width: 23%;
    left: 10%;
}
section.mid>div.menu_border>button.quit_button{
    /* position: absolute;
    top: 90%; */
    margin-inline-start: 23%;
    height: 23%;
    width: 23%;
    left: 60%;
}
section.mid>div.menu_border>p{
    color: #030303;
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}